<div class="vh-100 d-flex align-items-center justify-content-center">
    <main class="form-signin container">
        <h1 class="text-center text-primary">infocovid.mx</h1>
        <form method="POST" action="#">
          <h1 class="h3 mb-3 pt-5 fw-normal">Crea tu cuenta</h1>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" name="nombre">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Apellido" aria-label="Last" name="apellido">
            </div>
          </div>
          <label for="inputEmail" class="visually-hidden">Correo</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Correo" name="correo" required autofocus>
          <label for="inputPassword" class="visually-hidden">Contraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" required>
          <label for="inputPassword" class="visually-hidden">Confirma tu Contraseña</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Confirma tu Contraseña" name="cpassword" required>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        </form>
        <div class="pt-4 text-center">
        <a href="/">Regresar</a>
        </div>
      </main>
    </div>