<!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="#">infocovid.es</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active text-primary" aria-current="page" href="#">Encuesta</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-primary" href="#">Inicio de Sesión</a></li>
              <li><a class="dropdown-item text-primary" href="#">Crear Cuenta </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

-->

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="/">infocovid.es</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" href="/encuesta">Encuesta</a>
        </li>
        </ul>    
    <div class="d-flex">
      <a class="btn btn-outline-primary" href="#" role="button">Inicia Sesión</a>
    </div>
  </div>
</nav>