
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary fixed-top ">
  <div class="container-fluid">
    <div class="nav-item">
      <a class="navbar-brand text-primary" href="/">infocovid.mx</a>
    </div>

    <div class="nav-item" *ngIf="authService.getType() === 'admin'">
      <a class="navbar-brand text-primary" href="/graphics">Gráficas</a>
    </div> 

    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut ">

        <button  class="btn btn-outline-danger"(click)="auth.logout({ returnTo: document.location.origin }); logOut()">
          Cerrar sesión
        </button>

    </ng-container>

    <div class="d-flex">
      <ng-template #loggedOut>
      <div *ngIf="!valido || !auth.isAuthenticated$">
          <a class="btn btn-outline-primary" href="/login" role="button">Inicia Sesión</a>
      </div>
      <div class="" *ngIf="valido">
        <button class="btn btn-outline-danger" (click)="logOut()">
          Cerrar sesión
        </button>
      </div>
      </ng-template>


    </div>
  </div>
</nav>