<app-navadmin></app-navadmin>
<div class="container pt-5">
  <h2 class="pt-4 text-primary">Datos de las encuestas</h2>
  


  <div class="" *ngIf="loading">
  <div class="mt-4 mb-3" id="pregunta1">
    <h5>¿Qué tan seguido tienes fiebre?</h5>
      <div style="display: block">
        <canvas
          baseChart
          [datasets]="barChartData1"
          [labels]="barChartLabels1"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>

  <div class="mt-2 mb-3" id="pregunta2">
    <h5>¿Toses frecuentemente?</h5>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData2"
        [labels]="barChartLabels2"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="mt-2 mb-3" id="pregunta3">
    <h5>¿Haz tenido diarrea recientemente?</h5>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData3"
        [labels]="barChartLabels3"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="mt-2 mb-3" id="pregunta4">
    <h5>¿Qué tan seguido te sientes cansado?</h5>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData4"
        [labels]="barChartLabels4"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <div class="mt-2 mb-3" id="pregunta5">
    <h5>¿Haz perdido el sentido del gusto u olfato?</h5>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData5"
        [labels]="barChartLabels5"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
</div>