<app-navuser></app-navuser>
<div class="container pt-5">
    <h2 class="pt-4 text-primary">Encuesta</h2>
    <form action="#" method="POST" class="was-validated">
        <div class="mb-3 mt-4 border border-primary rounded p-3">
            <label>¿Qué tan seguido tienes fiebre?</label>
            <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta1" id="respuesta11" required>
                <label class="form-check-label" for="respuesta11">
                    Frecuente
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta1" id="respuesta12" required>
                <label class="form-check-label" for="respuesta12">
                  Poco Frecuente
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta1" id="respuesta13" required>
                <label class="form-check-label" for="respuesta13">
                  Nunca
                </label>
                <div class="invalid-feedback">Selecciona una opción</div>
              </div>
        </div>

        <div class="mb-3 mt-4 border border-primary rounded p-3">
            <label>¿Toses frecuentemente?</label>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta2" id="respuesta21" required>
                <label class="form-check-label" for="respuesta21">
                  Si
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta2" id="respuesta22" required>
                <label class="form-check-label" for="respuesta22">
                  No
                </label>
                <div class="invalid-feedback">Selecciona una opción</div>
              </div>
        </div>

        <div class="mb-3 mt-4 border border-primary rounded p-3">
            <label>¿Haz tenido diarrea?</label>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta3" id="respuesta31" required>
                <label class="form-check-label" for="respuesta21">
                  Si
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta3" id="respuesta32" required>
                <label class="form-check-label" for="respuesta22">
                  No
                </label>
                <div class="invalid-feedback">Selecciona una opción</div>
              </div>
        </div>

        <div class="mb-3 mt-4 border border-primary rounded p-3">
            <label>¿Qué tan seguido te sientes cansado?</label>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta4" id="respuesta41" required>
                <label class="form-check-label" for="respuesta21">
                Muy seguido (más de 5 días seguidos)
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta4" id="respuesta42" required>
                <label class="form-check-label" for="respuesta22">
                    Seguido (entre 3 y 5 días seguidos)
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta4" id="respuesta43" required>
                <label class="form-check-label" for="respuesta22">
                    No tan seguido (entre 1 y 3 días seguidos)
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta4" id="respuesta44" required>
                <label class="form-check-label" for="respuesta21">
                    Nada seguido (menos de 1 día)
                </label>
                <div class="invalid-feedback">Selecciona una opción</div>
              </div>
        </div>

        <div class="mb-3 mt-4 border border-primary rounded p-3">
            <label>¿Haz perdido el sentido del gusto u olfato?</label>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta5" id="respuesta51" required>
                <label class="form-check-label" for="respuesta21">
                  Si
                </label>
              </div>
              <div class="form-check mt-1">
                <input class="form-check-input" type="radio" name="respuesta5" id="respuesta52" required>
                <label class="form-check-label" for="respuesta22">
                  No
                </label>
                <div class="invalid-feedback">Selecciona una opción</div>
              </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar respuesta</button>
    </form>
  </div>
  
  <app-footer></app-footer>