<div class="mt-5 pb-2 container-fluid bg-primary">    
    <div class="row justify-content-between">
        <div class="col d-flex justify-content-center mt-4 mb-4">
            <a href="#" class="text-light"><fa-icon class="pe-5" [icon]="envelopeIcon" size="2x"></fa-icon></a>
            <a href="#" class="text-light"><fa-icon class="pe-5" [icon]="faceIcon" size="2x"></fa-icon></a>
            <a href="#" class="text-light"><fa-icon class="pe-3" [icon]="twitIcon" size="2x"></fa-icon></a>
        </div>
        <div class="row">
            <div class="col justify-content-center">
            <p class="text-light text-center">
                Copyright © 2021 Infocovid
            </p>
            </div>
        </div>
    </div>
</div>
